*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    /* padding: .5em; */
}

h3{
    font-size: 10px;
    font-weight: 300;
    color: #666;
    position: absolute;
}

.resultado{
    /* width: 100%; */
    height: calc(100vh / 2);
    text-align: right; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid; */
}

#tela{
    font-size: 150%;
    font-weight:500 ;
    overflow-wrap:break-word ;
    padding-bottom: 2px;
    /* border: 2px solid; */
}

#previos{
    padding: 5px;
}

#historico{  
    height: 25vh;
    font-size: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    color: #777;
    overflow: auto;
}

::-webkit-scrollbar{
    background-color: #777;
    width: 5px;
}

.calculadora{
    margin-top:5%;
    width: 90%;
    height: 90vh;
    padding: .5em;
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.container-botoes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
}

.number{
    background-color: #f3f3f3;
}

.operacoes, .operacoesArit{
    background-color: #a9a8a8;
}

button{
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 0;
    height: calc(100vh / 10);
    font-size: 1em;
    cursor: pointer;
}

button:hover{
    background-color: #bababa;
    border-color: #999;
}

#equal-btn{
    grid-column: span 2;
    background-color: rgb(233, 159, 47);
}

#equal-btn:hover{
    border-color: #999;
    background-color: rgb(246, 169, 54);
}
